@font-face {
  font-family: 'iconfont';
  /* Project id 4109966 */
  src: url('//at.alicdn.com/t/c/font_4109966_21vns1c06lf.woff2?t=1688403525473') format('woff2'),
  url('//at.alicdn.com/t/c/font_4109966_21vns1c06lf.woff?t=1688403525473') format('woff'),
  url('//at.alicdn.com/t/c/font_4109966_21vns1c06lf.ttf?t=1688403525473') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(11rem, 250px) 1fr;
}

.nav-logo {
  color: rgb(59, 130, 246);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background: white;
  border-left: 1px solid #c7c6c6;
}

.nav-bar>li {
  position: relative;
  padding: .7rem .7rem;
  cursor: pointer;
}

.nav-bar li:hover {
  color: rgb(59, 130, 246);
  background-color: white;
}

/* 渚ц竟鏍� */
.side-menu {
  user-select: none;
  border-left: 1px solid #c7c6c6;
  border-top: 1px solid #c7c6c6;
  background: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: .2rem; */
}

.side-menu .menu-item {
  margin-right: 60px;
  padding: 3rem 0 .5rem 1.2rem;
  cursor: pointer;
  font-size: 16px;
}


/* 边框 */
/* .openable {
  border-left: 2px solid rgb(180, 209, 255);
} */

.sub-menu .menu-item {
  color: #6b6464;
}

.sub-menu .menu-item:hover {
  background-color: #e3f9fd;
}

.sub-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding-left: .7rem;
  margin: 5px;
  font-size: .97rem;
}

nav {
  background: white;
  color: white;
  display: flex;
  gap: .5em;
  flex-flow: row wrap;
  min-width: 50rem;
  border-right: 1px solid #c7c6c6;
}



main {
  background: #eeeeee;
}



a {
  display: inline;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}



/* 涓婃柟瀵艰埅鏍� */
.nav-bar {
  user-select: none;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  color: #000;
}

.main-list {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-list-item {
  border: 1px solid blue;
  padding: 0 1.2rem;
  width: 50%;
  position: relative;
}

.item-head {
  display: inline-block;
  width: 7rem;
  color: rgb(27, 112, 250);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.menu .btn {
  margin-left: 18px;
}


.del-btn {
  background-color: rgb(245, 117, 117);
  position: absolute;
  right: 1.5rem;
}

.fix-btn {
  background-color: rgb(106, 254, 182);
  position: absolute;
  right: 1.5rem;
}

.fix-area {
  z-index: 1;
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 42%;
  top: 35%;
  padding: .5rem 2rem;
  background-color: rgb(200, 252, 227);
  border-radius: 20px;
}

#fix-submit {
  margin-right: 2.5rem;
  width: 3rem;
}

#fix-cancel {
  width: 3rem;
}

#add-pro {
  margin-right: 1.2rem;
}

.list-info {
  margin-right: 1rem;
}

.top-right {
  min-width: 60px;
}

.iconfont {
  font-size: 16px;
}

.table {
  margin-top: 20px;
  text-align: center;
}

.table td {
  font-weight: 400;
}

.shop {
  margin: 180px auto;
}

.my-main-list {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.my-main-list-item {
  border: 1px solid blue;
  padding: 0 1.2rem;
  width: 40%;
  position: relative;
  min-width: 370px;
}

.bttn {
  text-align: center;
  justify-content: center;
}

.my-del-btn {
  background-color: rgb(245, 117, 117);
  margin: 0 1rem 0 1rem;
}

.my-fix-btn {
  background-color: rgb(106, 254, 182);
  margin: 0 1rem 0 1rem;
}

.fix-pass {
  background-color: rgb(210, 254, 106);
  margin: 0 1rem 0 1rem;
}

.my-item-head {
  margin-left: 10%;
  padding-top: 6px;
  display: inline-block;
  width: 7rem;
  color: rgb(27, 112, 250);
}

#super {
  text-align: center;
  justify-content: center;
  font-size: x-large;
  margin-top: 5rem;
}

.my-fix-area {
  z-index: 1;
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 46%;
  top: 35%;
  padding: .5rem 2rem;
  background-color: rgb(200, 252, 227);
  border-radius: 20px;
}

.info {
  margin-top: 10rem;
}